
// A quick sample presentation in showboat
// Note: nice Jade bundles are available for both vim and textmate

@slide(title='Title slide')

  .svg_include.fullscreen(src='svg/title.svg')

  // #showboat and #tagline are defined in the svg
  @build fade_in(#title)
  @build fade_in(#tagline)

// Keyboard shortcut tour

@slide(title='Keyboard shortcuts')

  .svg_include(src='svg/keyboard.svg')

  @build fade_in(#T)

  @build
    | fade_in(#C)
    | opacity(#T, 0.25)

  @build
    | opacity(#C, 0.25)
    | fade_in(#E)

  @build
    | opacity(#E, 0.25)
    | fade_in(#arrows)

// A bullet-pointy slide with math included

@slide(title="Here is a list!")
  h1 This is a boring vanilla slide

  ul.incremental
    li Here is a bullet
    li here is one with math: \( x = {-b \pm \sqrt {b^2-4ac} \over 2a} \)
    li blah


// An example taken from the d3.js website
@slide(title='A d3.js dropped-in example')

  h1 Force-Directed Graph Example (from the d3.js website)

  .gallery.fullscreen#chart
    - d3_root = 'scripts/d3'
    link(href='css/force.css', rel='stylesheet')
    script(src='#{d3_root}/d3.layout.js')
    script(src='#{d3_root}/d3.geom.js')
    script(src='scripts/force.js')




// A random swf from a talk I gave long ago

@slide(title='Projection onto a principal component basis')
  @notes Note could go in a section like this

  embed(src='swf/PCASpace_simplified.swf', width='100%', height='100%')


// And another one

@slide(title='Projection on a wavelet basis')

  embed(src='swf/WaveletSpace_simplified.swf', width='100%', height='100%')

@slide(title='Wolfram CDF')
  <script type='text/javascript' src='http://demonstrations.wolfram.com/javascript/embed.js' ></script><script type='text/javascript'>var demoObj = new DEMOEMBED(); demoObj.run('NeuronalBursting', '', '543', '405');</script><div id='DEMO_NeuronalBursting'><a class='demonstrationHyperlink' href='http://demonstrations.wolfram.com/NeuronalBursting/' target='_blank'>Neuronal Bursting</a> from the <a class='demonstrationHyperlink' href='http://demonstrations.wolfram.com/' target='_blank'>Wolfram Demonstrations Project</a> by Garrett Neske</div>

